@font-face {
  font-family: Gallient;
  src: url('https://raw.githubusercontent.com/rishiraj/rishiraj.github.io/main/assets/Gallient-Regular.woff2') format('woff2');
}

h1 {
  font-family: Gallient;
}

h2 {
  font-family: Gallient;
}

h3 {
  font-family: Gallient;
}
