@font-face {
  font-family: Gallient;
  src: url('https://raw.githubusercontent.com/rishiraj/rishiraj.github.io/main/assets/Gallient-Regular.woff2') format('woff2');
}

div {
  font-family: Gallient;
}
